{% block content %}
<h3> Практическая работа №22 </h3>
<h4>Введите email для отписки от рассылки:</h4>
<form action="/unsubscribe" method="post">
    <label for="emailInput">email:</label>
    <input type="text" id="emailInput" name="email" required>
    <br><br>
    <button type="submit">Отправить</button>
</form>
{% if error_unsubscribe %}
    <p>Ошибка: {{ error_unsubscribe }}</p>
{% endif %}
{% if unsubscribe %}
    <p>{{ unsubscribe }}</p>
{% endif %}
<a href="/">Вернуться на главную</a>
{% endblock %}